bertopic==0.16.2
datamapplot==0.3.0
hdbscan==0.8.37
langchain==0.2.5
langchain_community==0.2.5
langchain_core==0.2.9
langchain_experimental==0.0.61
langchain_openai==0.1.9
matplotlib==3.8.3
matplotlib==3.5.1
numpy==1.21.5
openai==1.35.3
pandas==2.2.2
setuptools==59.6.0
